.component.form

  .form_field
    padding 1em

  .label
    //outline 1px dashed blue
    padding .5em 0
    font-weight bold
    font-size 1.14em
    line-height 1.5em


  .help
    font-size .8em
    padding .5em
    &:empty
      display none
    &::before
      content 'i'
      font-family Georgia
      font-style italic
      font-weight bold
      display inline-block
      padding .2em
      background dodgerblue
      border-radius 5em
      width 1em
      height 1em
      line-height 1.1em
      text-align center
      color white
      vertical-align baseline
      margin-right .2em