@import "./reset.styl"
@import "../index.styl"

body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 14px
  padding 2em

#form
  padding-right 20em

#form > .form > .fields > .form_field > .label
  padding 1em
  background #CCC
  font-size 1.2em

#value
  position fixed
  top 0
  right 0
  width 20em
  padding 1em
  background white

.form_field
  //border 1px solid #CCC
//  color #666
//  outline 1px dashed tint(red, 80)
//  background tint(red, 90)
//  &:hover
//    outline 1px dashed red
//    background tint(red, 50)
//.form_field > .control
//  outline 1px dashed tint(blue, 80)
//  background tint(blue, 90)
//  &:hover
//    outline 1px dashed blue
//    background tint(blue, 50)